.display-card{
  width: 250px;
  height: 140px;
  border-radius: 20px;
  border-color: black;
  border-style: solid;
  padding: 10px;
}
.display-card:hover{
  cursor:pointer
}
.uniInfoAside{
  border: black solid 2px;
  flex-basis: 400px;
}
.uniDisplay{
  flex-basis: 251px;
}
