.display-card{
  width: 250px;
  height: 140px;
  border-radius: 20px;
  border-color: black;
  border-style: solid;
  padding: 10px;
}
.display-card:hover{
  cursor:pointer
}
.UniInfoAside{
  border: black solid 2px;
  width: 400px;
}
.uniDisplay{
  width: 251px;
}
.uniInfoAside{
  width: 500px;
}